<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css " rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="./css/normalize.css" rel="stylesheet"/>
    <link href="./css/styles-register-and-login.css" rel="stylesheet"/>
    <link href="./css/styles.css" rel="stylesheet"/>

    <title>Mercado Liebre</title>
</head>
<body class="login">
    <header class="body-header-loginAndReg">
        <div class="header-logo-loginAndReg">
            <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
        </div>
    </header>
    <form action="/" method="POST" class="login-labels">
        <div class="form-bloques">
            <input type="text" name="user" placeholder="username" class="form-input">
        </div>
        <div class="form-bloques">
            <input type="password" name="password" placeholder="Contraseña" class="form-input">
        </div>
        <button type="submit" class="form-button">Enviar</button>
    </form>
</body>
</html>