<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css " rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="./css/normalize.css" rel="stylesheet"/>
    <link href="./css/styles.css" rel="stylesheet"/>
    <link href="./css/styles-register-and-login.css" rel="stylesheet"/>
</head>
<body>
    <header class="body-header-loginAndReg">
        <div class="header-logo-loginAndReg">
            <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
        </div>
    </header>
    <form action="/" method="POST" class="login-labels">
        <div class="form-bloques">
            <input type="text" name="user" placeholder="username" class="form-input" minlength="3">
        </div>
        <div class="form-bloques">
            <input type="password" name="password" placeholder="Contraseña" class="form-input">
        </div>
        <button type="submit" class="form-button">Enviar</button>
    </form>
    <footer class="footer-login">  
        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <p><strong>Pagá con tarjeta o en efectivo</strong><br>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>
         
            <article>
                <i class="fas fa-gift"></i>
                <p><strong>Envío gratis desde $ 2.500</strong><br>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>
         
            <article>
                <i class="fas fa-user-shield"></i>
                <p><strong>Seguridad, de principio a fin</strong><br>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
        </section>
        <div class="footer-final">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>