* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    font-family: 'Roboto';
}

/*--------HEADER--------------*/

.body-header {
    background-color: #EAC926;
    margin: 0px;
}

.header-barra-superior {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.header-logo {
    width: 50%;
    padding: 3px;
    align-self: center;
}

.header-search {
    width: 50%;
    font-size: 10px;
    align-self: center;
    text-align: center;
}

.header-texto-compras {
    font-size: 12px;
    font-weight: 100px;
    align-self: center;
    text-align: center;
    margin: auto;
    padding: 10px 0px;
}

.header-burger-menu {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    margin: auto;
    margin-bottom: 5px;
}

.header-nav ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.header-nav a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 2px 2px 0px;
    color: black;
}

.header-nav {
    display: none;
}

.header-banner {
    width: 100%;
}

/*--------MAIN--------------*/

.body-main {
    background-color: #ebebeb;
}

.main-section {
    width: 90%;
    margin: auto;
    background-color: #ebebeb
 }

.titulares {
    font-size: 24px;
    color: #666;
    margin: 0%;
    padding-top: 15px;
}

.main-section article {
    margin: 10px 0px;
    background-color: white;
}

main section article div i {
    display: block;
    color: #39b54a;
    border: solid 1px #39b54a; 
    border-radius: 100%;
    padding: 3px;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 1s;
}

main section article div i:hover {
    transform: rotateZ(-90deg);
}

.main-article-div {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
}

.article-price {
    font-size: 18px;
    flex-grow: 0.30;
}

.article-desc {
    display: none;
    font-size: 16px;
    margin-top: 10px;
    transition: display 1s;
}

main section div article:hover .article-desc {
    display: block;
}

.article-off {
    font-size: 16px;
    color: #39b54a;
    flex-grow: 0.70;
}

.article-price-and-off {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

/*--------FOOTER--------------*/

footer section {
    text-align: center;
    color: #666;
    font-size: 10px;
}

footer section article {
    margin: 10px;
}

footer section article i {
     color: #1259c3;
     font-size: 2em;
     margin-bottom: 10px;
 }

footer section article:hover i {
    color: #EAC926;
 } 

 .footer-final {
    text-align: left;
    font-size: 10px;
    color: #666;
}

/*------------media-tablet------------*/

@media (min-width: 361px) {   
    .header-logo,
    .header-search {
        width: 40%;
    }

    .header-texto-compras {
        width: 20%;
        font-size: 13px;
    }

    .header-search {
        font-size: 15px;
    }

    .header-burger-menu {
        display: none;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
    }

    .header-nav ul {
        display: flex;
    }

    .header-nav li {
        margin: 0px 8px;
    }

    .main-section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .contenedor-articulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    }

    .contenedor-articulos article {
        width: 45%;
    }

}

/*----------media-desktop---------*/

@media (min-width: 769px) {

    .header-texto-compras {
        max-width: none;
    }

    .header-logo {
        max-width: 300px;
    }

    .header-barra-superior {
        align-items: center;
    }

    .contenedor-articulos article {
        width: 22.5%;
    }

    footer section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer section article i {
        width: 80%;
    } 

}
