* {
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0px;
}


img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-size: 24px;
}

h3 {
    font-weight: 400;
    text-align: center;
}

body .body-header {
    background-color: #EAC926;
    padding: 20px;
    font-size: 12px;
}

main {
    width: 90vw;
    margin: auto;
}

main section article {
    margin-bottom: 10px;
}

main section article i{
    display: block;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 100%;
    padding: 4px;
    margin: 0% 0% 0% 90%;
}

footer {
    background-color: white;
}

footer section {
    text-align: center;
    color: #666;
}

footer section article i {
     color: #1259c3;
     size: 2em;
     margin-bottom: 10px;
 }

.logo {
    width: 35%;
    height: 35%;
}

.burger-menu {
    display: block;
    text-align: center;
    color: #ebebeb;
    padding: 5px 6px;
    background-color: #1259c3;
    border-radius: 10%;
    margin: auto;
}

.price {
    font-size: 18px;
}

.productDesc-and-off {
    font-size: 16px;
}

.header-nav {
    display: none;
}

.header-nav ul {
    list-style: none;
    margin: 0%;
    padding: 0;
}

.header-nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px;
}

@media (min-width: 361px) {

}
